#links, #email {
  font-family: "GT America Mono";
  font-size: 16.8px;
}

#links > a {
  padding-right: 5px;
}


#links > a, #email > a  {
  color: #212121;
}

#links > a:hover, #email > a:hover  {
  font-style: italic;
}

#links {
  padding-top: 130px;
}