#links, #email {
  font-family: "GT America Mono";
  font-size: 16.8px;
}

#links {
  position: fixed;
  bottom: 20px;
}

#links > a {
  padding-right: 5px;
}


#links > a, #email > a  {
  color: #212121;
}

#links > a:hover, #email > a:hover  {
  font-style: italic;
}

#email {
  position: fixed;
  bottom: 20px;
  right: 50px;
}
#email, #links, #name {
  z-index: 1000;
}

@media (max-width: 767.98px) {
  #email {
    position: relative;
    left: 0px;
    text-align: left;
  }
  #links {
    position: relative;
    padding-top: 140px;
  }
}